<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>学生信息</title>
    <!-- BOOTSTRAP CORE STYLE  -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- FONT AWESOME ICONS  -->
    <link href="css/font-awesome.css" rel="stylesheet">
    <!-- CUSTOM STYLE  -->
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="css/pager.css">
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    </div>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <strong>用户名 : </strong> 
                    <%= adminData.val.username %>
                    &nbsp;&nbsp;
                    <strong>上一次登录时间 : </strong>
                    <%= new Date(adminData.val.lastLoginTime).toLocaleString() %>
                </div>

            </div>
        </div>
    </header>
    <!-- HEADER END-->
    <div class="navbar navbar-inverse set-radius-zero">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="left-div">
                <div class="user-settings-wrapper">
                    <ul class="nav">




                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- LOGO HEADER END-->
    <section class="menu-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="navbar-collapse collapse ">
                        <ul id="menu-top" class="nav navbar-nav navbar-right">
                            <li><a class="menu-top-active" href="javascript:;">学生管理</a>
                            </li>
                            <li><a href="javascript:;">增加学生</a></li>
                            <li><a href="javascript:;">管理员管理</a></li>
                            <li><a href="javascript:;">增加管理员</a>
                            </li>
                            <li><a href="javascript:;">退出</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- MENU SECTION END-->
    <div class="content-wrapper">
        <div class="container">
            <div class="row pull-right" style='width:40%;'>
                <div class="input-group">
                    <input type="search" class="form-control search" list='dataList' placeholder="请输入学生姓名">
                    <datalist id='dataList'>
                        
                    </datalist>
                    <span class="input-group-addon" style='cursor:pointer;user-select:none;' id='search'>搜索</span>
                </div>
            </div>
            <table class="table">
                <caption>学员列表</caption>
                <thead>
                    <tr>
                        <th>学号</th>
                        <th>名字</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>[操作]</th>
                    </tr>
                </thead>
                <tbody class='studentList'>
                    
                </tbody>
            </table>
            <div id="wrap"></div>
        </div>
    </div>
    </div>
    <!-- CONTENT-WRAPPER SECTION END-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    © 2020 YourCompany | By DesignBootstrap-More Templates
                </div>
            </div>
        </div>
    </footer>
    <!-- FOOTER SECTION END-->
    <!-- JAVASCRIPT AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
    <!-- CORE JQUERY SCRIPTS -->
    <script src="js/jquery-1.11.1.js"></script>
    <!-- BOOTSTRAP SCRIPTS  -->
    <script src="js/bootstrap.js"></script>
    <script src="js/pagination.js"></script>
    <script>
        $(function (){
            new StudentList();
        })
        function StudentList(){
            this.page = 1; //默认页

            this.init();

            this.bindEvent();
        }
        StudentList.prototype.init = function (){
            var _this = this;
            $.get('/student/msg',{page:this.page},function (res){
                //console.log(res);
                _this.renderDom(res);

            });
        }
        StudentList.prototype.renderDom = function (data){
            //console.log(data);
            var _this = this;
            //渲染DOM
            $('.studentList').empty();
            $.each(data.results,function (idx,item){
                var tr = $('<tr></tr>');
                tr.html(`
                    <td>${item.sid}</td>
                    <td contenteditable="true">${item.name}</td>
                    <td contenteditable="true">${item.sex}</td>
                    <td contenteditable="true">${item.age}</td>
                    <td>
                        <input type="button" value='删除' class='btn btn-warning del' data-sid='${item.sid}'>
                        <input type="button" value='修改' class='btn btn-info change' data-sid='${item.sid}'>
                    </td>
                `);
                tr.appendTo($('.studentList'));
            })
            //渲染分页:
            pagination.init({
                wrapid: 'wrap', //页面显示分页器ID
                total: data.count, //总数据条数
                pagesize: 4, //每页3条数据
                currentPage: _this.page, //当前页
                onPagechange: function (n) {
                    //页面改变时触发， 参数 n 为改变后的当前页数
                    console.log(n);
                    _this.page = n;
                    _this.init();
                }
            })
        }
        StudentList.prototype.bindEvent = function (){
            var _this = this;
            //通过学生姓名模糊搜索
            $('.search').on('input',this.searchStudent.bind(this));
            //跳转新窗口渲染学生数据
            $('.search').on('keydown',function (e){
                if( e.keyCode == 13 ){
                    //console.log('回车');
                    _this.renderDom(_this.searchData);
                }
            })
            $('#search').on('click',function (){
                _this.renderDom(_this.searchData);
            });
            
            //修改学生信息:
            $('.studentList').delegate('.change','click',function (){
                var sid = $(this).attr('data-sid');
                var childrens = $(this).parent().parent().children();
                var uname = childrens.eq(1).text();
                var sex = childrens.eq(2).text();
                var age = parseInt(childrens.eq(3).text());               
                if( sex != '男' && sex != '女' ){
                    alert('请输入正确的性别');
                    return;
                }   
                if( isNaN(age) ){
                    alert('请输入数字年龄');
                    return;
                }               
                $.post('/student/'+sid,{uname,sex,age},function (res){
                    //console.log(res);
                    if( res.error == 1 ){
                        alert('修改成功');
                    }else{
                        alert('修改失败');
                    }
                });
            })
        }
        StudentList.prototype.searchStudent = function (){
            var _this = this;
            var val = $('.search').val();           
            if( !val ){
                this.init();
                return;
            }
            $.get('/student/search',{search:val},function (res){
                // console.log(res);
                $('#dataList').empty();
                if(res.data.length > 0){
                    //设置全局搜索数据格式
                    
                    $.each(res.data,function (idx,item){
                        var option = $('<option></option>');
                        option.val(item.name);
                        option.text(item.name);
                        option.appendTo($('#dataList'));
                    })  
                    _this.searchData = {
                        count : res.data.length,
                        now : 1,
                        results : res.data
                    }                                  
                }
            })
        }
    </script>
</body>

</html>